In [1]:
import pandas as pd
import numpy as np

import geopy

import wrangle
import my_toolkit

In [6]:
geolocator = geopy.Nominatim(user_agent='python-zillow-project')

def get_address(lat, long, geolocator=geolocator):
    location = geolocator.reverse((lat, long))
    adress =  location.raw['address']
    return adress

In [79]:
geolocator.reverse(('34.195939', '-118.460392')).raw

{'place_id': 306596301,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 13443992,
 'lat': '34.19610567346939',
 'lon': '-118.46040351020409',
 'display_name': '15032, Bassett Street, Van Nuys, Los Angeles, Los Angeles County, California, 91405, United States',
 'address': {'house_number': '15032',
  'road': 'Bassett Street',
  'suburb': 'Van Nuys',
  'city': 'Los Angeles',
  'county': 'Los Angeles County',
  'state': 'California',
  'ISO3166-2-lvl4': 'US-CA',
  'postcode': '91405',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['34.196055673469',
  '34.196155673469',
  '-118.4604535102',
  '-118.4603535102']}

In [11]:
get_address(34.195939, -118.460392)

{'house_number': '15032',
 'road': 'Bassett Street',
 'suburb': 'Van Nuys',
 'city': 'Los Angeles',
 'county': 'Los Angeles County',
 'state': 'California',
 'ISO3166-2-lvl4': 'US-CA',
 'postcode': '91405',
 'country': 'United States',
 'country_code': 'us'}

In [3]:

df = wrangle.get_data()
df = df.drop_duplicates(subset=['parcelid'], keep='last')
df.latitude = df.latitude / 1_000_000
df.longitude = df.longitude / 1_000_000

In [8]:
df = df.head(3)

In [10]:
df.head(1)[['parcelid','latitude','longitude']].to_dict(orient='index')

{0: {'parcelid': 14297519, 'latitude': 33634931.0, 'longitude': -117869207.0}}

In [15]:
out = {}
for index, row in df.iterrows():
    address = get_address(row.loc['latitude'],row.loc['longitude'])
    address['parcelid'] = row.loc['parcelid']
    out[index] = address

out

{0: {'house_number': '2',
  'road': 'Ironwood Drive',
  'town': 'Newport Beach',
  'county': 'Orange County',
  'state': 'California',
  'ISO3166-2-lvl4': 'US-CA',
  'postcode': '92660',
  'country': 'United States',
  'country_code': 'us',
  'parcelid': 14297519},
 1: {'house_number': '125',
  'road': 'South Poli Street',
  'hamlet': 'Meiners Oaks',
  'county': 'Ventura County',
  'state': 'California',
  'ISO3166-2-lvl4': 'US-CA',
  'postcode': '93023',
  'country': 'United States',
  'country_code': 'us',
  'parcelid': 17052889},
 2: {'house_number': '17867',
  'road': 'Kennon Drive',
  'town': 'Yorba Linda',
  'county': 'Orange County',
  'state': 'California',
  'ISO3166-2-lvl4': 'US-CA',
  'postcode': '92886',
  'country': 'United States',
  'country_code': 'us',
  'parcelid': 14186244}}

In [39]:
addr = pd.DataFrame.from_dict(out, orient='index')
addr

,house_number,road,town,county,state,ISO3166-2-lvl4,postcode,country,country_code,parcelid,hamlet
0,2,Ironwood Drive,Newport Beach,Orange County,California,US-CA,92660,United States,us,14297519,NaN
1,125,South Poli Street,NaN,Ventura County,California,US-CA,93023,United States,us,17052889,Meiners Oaks
2,17867,Kennon Drive,Yorba Linda,Orange County,California,US-CA,92886,United States,us,14186244,NaN

In [29]:
addr.columns.to_list()

['house_number',
 'road',
 'town',
 'county',
 'state',
 'ISO3166-2-lvl4',
 'postcode',
 'country',
 'country_code',
 'parcelid',
 'hamlet']

In [38]:
def df_col_to_front(df, column):
    df = df[ [column] + [ col for col in df.columns if col != column ] ]
    return df

In [41]:
df_col_to_front(addr, 'parcelid')

,parcelid,house_number,road,town,county,state,ISO3166-2-lvl4,postcode,country,country_code,hamlet
0,14297519,2,Ironwood Drive,Newport Beach,Orange County,California,US-CA,92660,United States,us,NaN
1,17052889,125,South Poli Street,NaN,Ventura County,California,US-CA,93023,United States,us,Meiners Oaks
2,14186244,17867,Kennon Drive,Yorba Linda,Orange County,California,US-CA,92886,United States,us,NaN

In [42]:
addr

,house_number,road,town,county,state,ISO3166-2-lvl4,postcode,country,country_code,parcelid,hamlet
0,2,Ironwood Drive,Newport Beach,Orange County,California,US-CA,92660,United States,us,14297519,NaN
1,125,South Poli Street,NaN,Ventura County,California,US-CA,93023,United States,us,17052889,Meiners Oaks
2,17867,Kennon Drive,Yorba Linda,Orange County,California,US-CA,92886,United States,us,14186244,NaN

In [31]:
df = wrangle.get_data()
df = df.drop_duplicates(subset=['parcelid'], keep='last')
df.latitude = df.latitude / 1_000_000
df.longitude = df.longitude / 1_000_000
# You may need to install geopy to use this code.
# %pip install geopy
geolocator = geopy.Nominatim(user_agent='zillow-project')

def get_address(lat, long, geolocator=geolocator):
    location = geolocator.reverse((lat, long))
    address =  location.raw['address']
    return address

def get_location(lat, long, geolocator=geolocator):
    location = geolocator.reverse((lat, long)).raw
    return location

def df_col_to_front(df, column):
    df = df[ [column] + [ col for col in df.columns if col != column ] ]
    return df

In [50]:
pd.options.display.max_columns = None
prev = pd.read_csv('address.csv', index_col=0)
prev.head(1)

C:\Users\Crux\AppData\Local\Temp\ipykernel_3552\1844267767.py:2: DtypeWarning: Columns (35,38,39,42,43,44,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  prev = pd.read_csv('address.csv', index_col=0)

,Unnamed: 0,parcelid,place_id,licence,osm_type,osm_id,lat,lon,display_name,address,boundingbox,house_number,road,town,county,state,ISO3166-2-lvl4,postcode,country,country_code,hamlet,city,suburb,neighbourhood,residential,amenity,city_district,village,building,quarter,highway,tourism,leisure,shop,historic,retail,commercial,craft,aeroway,railway,office,man_made,emergency,landuse,place,natural,industrial
0,0.0,14297519,80286459,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",node,7903497819,33.634881,-117.869004,"2, Ironwood Drive, Newport Beach, Orange County, California, 92660, United States","{'house_number': '2', 'road': 'Ironwood Drive', 'town': 'Newport Beach', 'county': 'Or...","['33.634831', '33.634931', '-117.8690537', '-117.8689537']",2,Ironwood Drive,Newport Beach,Orange County,California,US-CA,92660.0,United States,us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
prev.parcelid.values

array([14297519, 17052889, 14186244, ..., 11211688, 13990365, 11515807],
      dtype=int64)

In [19]:
14297519 in prev.parcelid.values

True

In [91]:
df.loc[0,'latitude'], df.loc[0,'longitude']

(33.634931, -117.869207)

In [34]:
df.shape, df[['latitude','longitude']].isna().sum()

((52320, 68),
 latitude     0
 longitude    0
 dtype: int64)

In [33]:
# df = df.tail(5)
# df

In [35]:
out = {}
for index, row in df.iterrows():
    if row.loc['parcelid'] in prev.parcelid.values:
        continue
    location = get_location(row.loc['latitude'],row.loc['longitude'])
    address =  location['address']
    location['parcelid'] = row.loc['parcelid']
    for k, v in address.items():
        location[k] = v
    out[index] = location
# out = {}
# for index, row in df.iterrows():
#     location = get_location(row.loc['latitude'],row.loc['longitude'])
#     address =  location['address']
#     address['parcelid'] = row.loc['parcelid']
#     # print(location)
#     address['lat'] = location['lat']
#     address['lon'] = location['lon']
#     out[index] = address

# addr = pd.DataFrame.from_dict(out, orient='index')

In [36]:
addr = pd.DataFrame.from_dict(out, orient='index')

In [37]:
addr.shape

(38747, 46)

In [38]:
addr = df_col_to_front(addr, 'parcelid')
addr.head()

,parcelid,place_id,licence,osm_type,osm_id,lat,lon,display_name,address,boundingbox,house_number,road,town,city,county,state,ISO3166-2-lvl4,postcode,country,country_code,neighbourhood,hamlet,suburb,amenity,residential,village,building,leisure,city_district,highway,shop,place,quarter,railway,commercial,tourism,office,aeroway,retail,historic,natural,man_made,industrial,landuse,craft,emergency
13647,17264292,318984472,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,315563510,34.171834999398534,-118.93447300992426,"92777, Edgeview Court, Newbury Park, Thousand Oaks, Ventura County, California, 91320,...","{'house_number': '92777', 'road': 'Edgeview Court', 'town': 'Newbury Park', 'city': 'T...","[34.171784999399, 34.171884999399, -118.93452300992, -118.93442300992]",92777,Edgeview Court,Newbury Park,Thousand Oaks,Ventura County,California,US-CA,91320,United States,us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13648,11819380,306527506,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,13390996,34.06479693584048,-118.17663408919474,"4817, Farquhar Street, El Sereno, Los Angeles, Los Angeles County, California, 90032, ...","{'house_number': '4817', 'road': 'Farquhar Street', 'neighbourhood': 'El Sereno', 'cit...","[34.06474693584, 34.06484693584, -118.17668408919, -118.17658408919]",4817,Farquhar Street,NaN,Los Angeles,Los Angeles County,California,US-CA,90032,United States,us,El Sereno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13649,13858640,281356166,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,947493131,33.66856675,-118.00250656325397,"527, Crest Avenue, Huntington Beach, Orange County, California, 92648, United States","{'house_number': '527', 'road': 'Crest Avenue', 'city': 'Huntington Beach', 'county': ...","[33.6684432, 33.6686948, -118.0026227, -118.0023777]",527,Crest Avenue,NaN,Huntington Beach,Orange County,California,US-CA,92648,United States,us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13650,14270638,310849643,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,221562148,33.655115,-117.907778,"2207, Fairview Road, Thurin, Costa Mesa, Orange County, California, 92627, United States","{'house_number': '2207', 'road': 'Fairview Road', 'hamlet': 'Thurin', 'city': 'Costa M...","[33.655065, 33.655165, -117.907828, -117.907728]",2207,Fairview Road,NaN,Costa Mesa,Orange County,California,US-CA,92627,United States,us,NaN,Thurin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13651,12725482,175665033,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,289675818,33.9227295,-118.07766986799474,"11969, Bombardier Avenue, Norwalk, Los Angeles County, California, 90650, United States","{'house_number': '11969', 'road': 'Bombardier Avenue', 'city': 'Norwalk', 'county': 'L...","[33.9226455, 33.9228232, -118.0777759, -118.0775568]",11969,Bombardier Avenue,NaN,Norwalk,Los Angeles County,California,US-CA,90650,United States,us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
addr.to_csv('./address2.csv')

In [41]:
new = pd.concat((prev, addr))
df.shape, new.shape, prev.shape, addr.shape

((52320, 68), (52320, 47), (13573, 45), (38747, 46))

In [42]:
new.head()

,Unnamed: 0,parcelid,place_id,licence,osm_type,osm_id,lat,lon,display_name,address,boundingbox,house_number,road,town,county,state,ISO3166-2-lvl4,postcode,country,country_code,hamlet,city,suburb,neighbourhood,residential,amenity,city_district,village,building,quarter,highway,tourism,leisure,shop,historic,retail,commercial,craft,aeroway,railway,office,man_made,emergency,landuse,place,natural,industrial
0,0.0,14297519,80286459,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",node,7903497819,33.634881,-117.869004,"2, Ironwood Drive, Newport Beach, Orange County, California, 92660, United States","{'house_number': '2', 'road': 'Ironwood Drive', 'town': 'Newport Beach', 'county': 'Or...","['33.634831', '33.634931', '-117.8690537', '-117.8689537']",2,Ironwood Drive,Newport Beach,Orange County,California,US-CA,92660.0,United States,us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,17052889,318998956,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,10738680,34.449137,-119.281202,"125, South Poli Street, Meiners Oaks, Ventura County, California, 93023, United States","{'house_number': '125', 'road': 'South Poli Street', 'hamlet': 'Meiners Oaks', 'county...","['34.449087274817', '34.449187274817', '-119.28125206969', '-119.28115206969']",125,South Poli Street,NaN,Ventura County,California,US-CA,93023.0,United States,us,Meiners Oaks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,14186244,310861257,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,13359967,33.886114,-117.823174,"17867, Kennon Drive, Yorba Linda, Orange County, California, 92886, United States","{'house_number': '17867', 'road': 'Kennon Drive', 'town': 'Yorba Linda', 'county': 'Or...","['33.886063544955', '33.886163544955', '-117.82322427477', '-117.82312427477']",17867,Kennon Drive,Yorba Linda,Orange County,California,US-CA,92886.0,United States,us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,12177905,306451817,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,13457131,34.24512,-118.240767,"2907, Hawkridge Drive, Los Angeles County, California, 91214, United States","{'house_number': '2907', 'road': 'Hawkridge Drive', 'county': 'Los Angeles County', 's...","['34.245069880395', '34.245169880395', '-118.2408167167', '-118.2407167167']",2907,Hawkridge Drive,NaN,Los Angeles County,California,US-CA,91214.0,United States,us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,12095076,306283871,"Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",way,13339874,34.145256,-118.17985,"182, Kenworthy Drive, Pasadena, Los Angeles County, California, 91105, United States","{'house_number': '182', 'road': 'Kenworthy Drive', 'city': 'Pasadena', 'county': 'Los ...","['34.145206169785', '34.145306169785', '-118.17990023747', '-118.17980023747']",182,Kenworthy Drive,NaN,Los Angeles County,California,US-CA,91105.0,United States,us,NaN,Pasadena,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
new.to_csv('address.csv')

In [44]:
import my_toolkit

In [85]:
my_toolkit.col_summary(new.drop(columns=['address','display_name','licence','boundingbox',]))

,dtype,null_sum,null_mean,hidden_nulls,n_unique,duplicates
Unnamed: 0,float64,38747,0.740577,0,13573,38747
parcelid,int64,0,0.000000,0,52320,0
place_id,int64,0,0.000000,0,47643,4677
osm_type,object,0,0.000000,0,3,52317
osm_id,int64,0,0.000000,0,40699,11621
lat,object,0,0.000000,0,51495,825
lon,object,0,0.000000,0,51514,806
house_number,object,6256,0.119572,0,18242,34078
road,object,433,0.008276,0,23630,28690
town,object,36314,0.694075,0,94,52226
county,object,0,0.000000,0,4,52316
state,object,0,0.000000,0,1,52319
ISO3166-2-lvl4,object,0,0.000000,0,1,52319
postcode,object,257,0.004912,0,926,51394
country,object,0,0.000000,0,1,52319
country_code,object,0,0.000000,0,1,52319
hamlet,object,48828,0.933257,0,239,52081
city,object,19669,0.375937,0,36,52284
suburb,object,37000,0.707187,0,242,52078
neighbourhood,object,49520,0.946483,0,143,52177
residential,object,50901,0.972878,0,250,52070
amenity,object,50625,0.967603,0,1265,51055
city_district,object,51716,0.988456,0,9,52311
village,object,51631,0.986831,0,16,52304
building,object,52109,0.995967,0,148,52172
quarter,object,52078,0.995375,0,14,52306
highway,object,52146,0.996674,0,141,52179
tourism,object,52249,0.998643,0,64,52256
leisure,object,51968,0.993272,0,184,52136
shop,object,52118,0.996139,0,150,52170
historic,object,52298,0.999580,0,14,52306
retail,object,52292,0.999465,0,17,52303
commercial,object,52286,0.999350,0,6,52314
craft,object,52318,0.999962,0,2,52318
aeroway,object,52317,0.999943,0,3,52317
railway,object,52310,0.999809,0,7,52313
office,object,52299,0.999599,0,16,52304
man_made,object,52314,0.999885,0,6,52314
emergency,object,52318,0.999962,0,2,52318
landuse,object,52317,0.999943,0,3,52317
place,object,52305,0.999713,0,14,52306
natural,object,52317,0.999943,0,3,52317
industrial,object,52318,0.999962,0,1,52319

In [83]:
temp = pd.read_csv('address.csv', index_col=0, low_memory=False)

In [84]:
for i, col in enumerate(temp.columns.to_list()):
    print(i, col)

0 parcelid
1 place_id
2 licence
3 osm_type
4 osm_id
5 lat
6 lon
7 display_name
8 address
9 boundingbox
10 house_number
11 road
12 town
13 county
14 state
15 ISO3166-2-lvl4
16 postcode
17 country
18 country_code
19 hamlet
20 city
21 suburb
22 neighbourhood
23 residential
24 amenity
25 city_district
26 village
27 building
28 quarter
29 highway
30 tourism
31 leisure
32 shop
33 historic
34 retail
35 commercial
36 craft
37 aeroway
38 railway
39 office
40 man_made
41 emergency
42 landuse
43 place
44 natural
45 industrial

In [82]:
temp.historic.value_counts()

Oxford Square                           6
Olinda                                  3
E.R. Burroughs Tarzana Ranch remnant    2
The Old City Jail                       1
Miner's hut                             1
Virginia Robinson Gardens               1
Old Town Business District              1
TJ Scott Arch                           1
Adams Normandie Historic District       1
Whitley Heights Historic District       1
Rosten's House                          1
Wilton Historic District                1
Lloyd Wright Studio-Residence           1
Pearl Mackey Apartments                 1
Name: historic, dtype: int64